.nav-item a{
    font-size: 27;
    color: white;
    margin: 0 35px;
}
nav{
    justify-content: space-around;
    color: white;
}
.navbar{
    width: 100%;
}
form input{
    width: 100%;
}
form{
    width: 100%;
}
.container-md{
    /* background-color: black; */
}
.btn{
    background-color: #696bfa;
    color: wheat;
    margin: 0 20px;
}