<div class="container-md">
    <nav class="navbar navbar-expand-lg navbar-light text-white">
        <!-- <a class="navbar-brand text-white" href="#">GIPHY</a> -->
        <img class="img-responsive" src="assets/a.png">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link  text-white" href="#" routerLink="trending" routerLinkActive='active'>Trending</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link  text-white" href="#" routerLink="search" routerLinkActive='active'>Search</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link  text-white" href="#">:</a>
                </li>
                <li class="nav-item active">
                    <button type="button" class="btn">Upload</button>
                </li>
                <li class="nav-item active">
                    <button type="button" class="btn">Create</button>
                </li>


            </ul>
        </div>
    </nav>
  
</div>