<nav class="navbar navbar-light ">
    <div class="container">
        <form class="d-flex" (ngSubmit)="searchGif(gifForm)" #gifForm="ngForm">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" ngModel name="searchTerm" />
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</nav>

<!-- <form (ngSubmit)="searchGif(gifForm)" #gifForm="ngForm">
    <input type="text" ngModel name="searchTerm" />
  
    <button type="submit">search</button>
  </form> -->